@media (min-width: 768px) {.dropdown:hover .dropdown-menu{margin-top:0;display:block}}

.text1 {
    position: absolute; /* Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице. */
    left: 40px; /* расстояние от левого края */
    top: 29px; /*  расстояние от верхнего края */
    background: #fff; /*  цвет фона */
    padding: 0 10px; /* Устанавливает значение полей вокруг содержимого элемента  */
}
.text2 {
    position: absolute; /* Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице. */
    right: 40px; /* расстояние от правого края */
    top: 29px; /*  расстояние от верхнего края */
    background: #fff; /*  цвет фона */
    padding: 0 10px; /* Устанавливает значение полей вокруг содержимого элемента  */
}
a{ color:black;} /* цвет */
.disorder{
    
    width:240px; /* Устанавливает ширину блочных или заменяемых элементов */
    height:60px; /* Устанавливает высоту блочных элементов */
    color: lightskyblue; /* цвет */

}
.instruct{
    font-size: 14px; /* размер шрифта */
}
.megaa{
    font-size: 15px; /* размер шрифта */
    color:rgb(0, 0, 0);  /* цвет */
    font-weight: bold; /* Устанавливает насыщенность шрифта - жирный */
}
.navbarcs{
    background-color: white; /*  цвет фона */
}
.minipicture{
    max-width: 165px;  /* Устанавливает максимальную ширину элемента */
    max-height:100px;  /* Устанавливает максимальную длину элемента */
}
.divmini{
    max-width: 961px;  /* Устанавливает максимальную ширину элемента */
    font-size: 12px; /* размер шрифта */
    color:grey; /* цвет */
} 
.divmedium{
    max-height:600px; /* Устанавливает максимальную длину элемента */
}
.settintext{
    font-size: 12px; /* размер шрифта */
}
.markst{
    background-color: #f3da0b; /*  цвет фона */
}
.topinfo{
    font-size: 12px; /* размер шрифта */
    color:#555555; /* цвет */
}
.holder{
    max-width: 40px; /* Устанавливает максимальную ширину элемента */
    max-height: 17px; /* Устанавливает максимальную длину элемента */
}
.volgograd{
    color: #1faee9; /* цвет */
    font-size: 14px; /* размер шрифта */
}
.trucks{
    width: 95px; /* Устанавливает ширину элемента */
    height: 100px; /* Устанавливает длину элемента */
}
.verymini{
    max-height: 34px; /* Устанавливает максимальную длину элемента */
}
.adressa{
    font-size: 12px;  /* размер шрифта */
    color: #999999; /* цвет */
}
.dostavka{
    background-color: #f5f5f5; /*  цвет фона */
}
.aviators{
    color: #999999;  /* цвет */
    font-size: 12px; /* размер шрифта */
}
.settin{
    color: grey; /* цвет */
}
.serch{
    border-color: #e6e6e6;  /* цвет */
    border-width: thin;
}
.call{
    max-width: 35px; /* Устанавливает максимальную ширину элемента */
    max-height: 13px; /* Устанавливает максимальную длину элемента */
}
.bolds{
    font-weight: bold; /* Устанавливает насыщенность шрифта - жирный */
}
.calend{
    color: #999999;  /* цвет */
    font-size: 12px; /* размер шрифта */
}
.emall{
    color: #1faee9; /* цвет */
}